body{
  background-image: url('https://upload.wikimedia.org/wikipedia/en/e/ed/Logo_of_the_New_York_City_Department_of_Parks_%26_Recreation.svg');
  color: green;
  background-repeat: no-repeat;
  background-size: cover;
}